%h2= t.grow_button
%form{:action => '/admin/plugins/grow_button', :method => 'post'}
  %label{:for => 'grow_button_type'}= t.grow_button_type
  %input{:type => 'hidden', :name => '_method', :value => 'put'}
  .field
    %input{:type => 'radio', :id => 'grow_button_type_square', :name => 'grow_button_type', :value => 'square', :checked => Option.grow_button_type == 'square'}
    %img{:src => 'http://johnny-miyake.github.com/lokka-grow_button/img/button_square.png'}
  .field
    %input{:type => 'radio', :id => 'grow_button_type_rectangle', :name => 'grow_button_type', :value => 'rectangle', :checked => Option.grow_button_type == 'rectangle'}
    %img{:src => 'http://johnny-miyake.github.com/lokka-grow_button/img/button_rectangle.png'}
  .field
    %label{:for => 'grow_button_api_key'}= t.grow_button_api_key
    %a{:href => t.grow_button_api_key_url}= t.grow_button_api_key_url_text
    %br
    %input{:type => 'text', :id => 'grow_button_api_key', :name => 'grow_button_api_key', :value => Option.grow_button_api_key}
  .field
    %input{:type => 'submit', :value => t.edit}
%style= '.field{margin-top:8px;} img{vertical-align:middle;}'
